<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generator</title>
</head>
<body>
    <form action="/" method="post">
    <label for="username">Username/Email</label>
    <input type="text" name="username" required>
    <label for="generated">Password</label>
    <input class="generated" type="text" name="generated" required>
    <button class="generate" name="generate">Generate</button>
    <button type="submit">Save</button>
    </form>
    <script src="generate.js"></script>
</body>
</html>