<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="myPass.js"></script>
    <title>myPass</title>
</head>
<body>
    
    <% if (locals.results) { %>
        <ul>
     <% for( let index = 0; index < results.length; index++ ) { %>
        <li><span><%= results[index] %></span> </span></li>
     <% } %>
    </ul>
    <% } %>
</body>
</html>